body
{
  margin-top:0;
  margin-left:0;
}

#page_1
{
  position:relative;
  overflow:hidden;
  border:none;
  width:768px;
  margin:6px 0 87px 48px;
  padding:0;
}

#page_1 #dimg1
{
  position:absolute;
  top:202px;
  left:4px;
  z-index:-1;
  width:706px;
  height:197px;
}

#page_1 #dimg1 #img1
{
  width:706px;
  height:197px;
}

#page_2
{
  position:relative;
  overflow:hidden;
  border:none;
  width:816px;
  margin:6px 0 153px;
  padding:0;
}

#page_2 #dimg1
{
  position:absolute;
  top:101px;
  left:58px;
  z-index:-1;
  width:700px;
  height:1px;
  font-size:1px;
  line-height:nHeight;
}

#page_2 #dimg1 #img1
{
  width:700px;
  height:1px;
}

.ft0
{
  font:27px Verdana;
  line-height:32px;
}

.ft1
{
  font:12px Verdana;
  line-height:14px;
}

.ft2
{
  font:19px Verdana;
  color:#444;
  line-height:23px;
}

.ft3
{
  font:15px Verdana;
  color:#444;
  line-height:19px;
}

.ft4
{
  font:bold 16px Arial;
  color:#38761d;
  line-height:19px;
}

.ft6
{
  font:13px Verdana;
  color:#222;
  line-height:16px;
}

.ft8
{
  font:16px Calibri;
  text-decoration:underline;
  color:#15c;
  line-height:19px;
}

.ft9
{
  font:16px Calibri;
  line-height:19px;
}

.ft10
{
  font:21px Calibri;
  line-height:23px;
}

.ft11
{
  font:bold 13px Verdana;
  line-height:16px;
}

.ft12
{
  font:13px Verdana;
  line-height:17px;
}

.ft13
{
  font:21px Calibri;
  line-height:26px;
}

.ft14
{
  font:1px Verdana;
  line-height:1px;
}

.ft15
{
  font:16px Calibri;
  color:#15c;
  line-height:19px;
}

.p0
{
  text-align:left;
  padding-left:474px;
  margin-top:0;
  margin-bottom:0;
}

.p1
{
  text-align:left;
  padding-left:261px;
  margin-top:1px;
  margin-bottom:0;
}

.p2
{
  text-align:left;
  margin-top:19px;
  margin-bottom:0;
}

.p3
{
  text-align:left;
  padding-right:105px;
  margin-top:14px;
  margin-bottom:0;
}

.p4
{
  text-align:left;
  margin-top:14px;
  margin-bottom:0;
}

.p5
{
  text-align:left;
  margin-top:0;
  margin-bottom:0;
  white-space:nowrap;
}

.p6
{
  text-align:left;
  margin-top:21px;
  margin-bottom:0;
}

.p7
{
  text-align:left;
  margin-top:13px;
  margin-bottom:0;
}

.p8
{
  text-align:left;
  padding-left:48px;
  padding-right:84px;
  margin-top:3px;
  margin-bottom:0;
}

.p9
{
  text-align:left;
  padding-left:48px;
  margin-top:16px;
  margin-bottom:0;
}

.p10
{
  text-align:left;
  padding-left:96px;
  margin-top:13px;
  margin-bottom:0;
}

.p11
{
  text-align:left;
  margin-top:16px;
  margin-bottom:0;
}

.p12
{
  text-align:left;
  padding-left:48px;
  padding-right:81px;
  margin-top:3px;
  margin-bottom:0;
}

.p13
{
  text-align:left;
  padding-left:48px;
  margin-top:13px;
  margin-bottom:0;
}

.p14
{
  text-align:left;
  padding-left:48px;
  padding-right:123px;
  margin-top:3px;
  margin-bottom:0;
}

.p15
{
  text-align:left;
  padding-left:522px;
  margin-top:0;
  margin-bottom:0;
}

.p16
{
  text-align:right;
  padding-right:63px;
  margin-top:1px;
  margin-bottom:0;
}

.p17
{
  text-align:left;
  padding-left:48px;
  margin-top:26px;
  margin-bottom:0;
}

.p18
{
  text-align:right;
  margin-top:0;
  margin-bottom:0;
  white-space:nowrap;
}

.p19
{
  text-align:left;
  padding-left:48px;
  margin-top:0;
  margin-bottom:0;
  white-space:nowrap;
}

.p20
{
  text-align:left;
  padding-left:96px;
  padding-right:114px;
  margin-top:7px;
  margin-bottom:0;
}

.p21
{
  text-align:left;
  padding-left:96px;
  margin-top:16px;
  margin-bottom:0;
}

.p22
{
  text-align:left;
  padding-left:96px;
  padding-right:71px;
  margin-top:13px;
  margin-bottom:0;
}

.p23
{
  text-align:left;
  padding-left:96px;
  padding-right:136px;
  margin-top:13px;
  margin-bottom:0;
}

.p24
{
  text-align:right;
  padding-right:8px;
  margin-top:0;
  margin-bottom:0;
  white-space:nowrap;
}

.td0
{
  width:24px;
  vertical-align:bottom;
  margin:0;
  padding:0;
}

.td1
{
  width:156px;
  vertical-align:bottom;
  margin:0;
  padding:0;
}

.td2
{
  width:158px;
  vertical-align:bottom;
  margin:0;
  padding:0;
}

.td3
{
  width:153px;
  vertical-align:bottom;
  margin:0;
  padding:0;
}

.td4
{
  width:121px;
  vertical-align:bottom;
  margin:0;
  padding:0;
}

.td5
{
  width:581px;
  vertical-align:bottom;
  margin:0;
  padding:0;
}

.td6
{
  width:104px;
  vertical-align:bottom;
  margin:0;
  padding:0;
}

.td7
{
  width:532px;
  vertical-align:bottom;
  margin:0;
  padding:0;
}

.td8
{
  width:157px;
  vertical-align:bottom;
  margin:0;
  padding:0;
}

.tr0
{
  height:18px;
}

.tr1
{
  height:24px;
}

.tr2
{
  height:26px;
}

.tr3
{
  height:17px;
}

.tr4
{
  height:29px;
}

.tr5
{
  height:40px;
}

.tr6
{
  height:28px;
}

.tr7
{
  height:32px;
}

.tr8
{
  height:41px;
}

.tr9
{
  height:34px;
}

.t0
{
  width:684px;
  margin-left:22px;
  margin-top:18px;
  font:13px Verdana;
}

.t1
{
  width:685px;
  margin-left:48px;
  margin-top:12px;
  font:13px Verdana;
}

.t2
{
  width:689px;
  margin-left:48px;
  margin-top:15px;
  font:13px Verdana;
}

.ft5,.ft7
{
  font:13px Verdana;
  line-height:16px;
}
