body{
  padding: 4%;
  font-weight: 200;
}

div#skills{
  padding-left: 10px;
  padding-right: 1px;
}

h3,h4.skinny{
  font-weight: 200;
}
h1,h4.title{
  text-align: left;
  font-weight: 400;
}


hr{
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 3px solid #020070;
}
