body{
  padding: 4%;
  font-size: 15px;
  font-weight: 200 !important;
}

#skills{
  padding-left: 10px;
  padding-right: 1px;
  font-size: 17px;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 3px solid #eee;
}
